/* tag generali */

*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container{
    height: 100%;
    width: 70%;
    margin: auto;
}

.clearflix::after{
    content: none;
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    color: #f4f6fd;
}

h1{
    color: white;
    font-size:  70px;
    text-align: center;
}
/* Tag header */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100vw;
    height: 75vh;
    position: relative;
}


li{
    display: inline-block;
    margin:40px 50px;
    color: #f4f6fd;
    font-size: 20px;
    list-style-type: none;
}

#accedi{
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    background: #fff;
    color: #2f3336;
}

.jumbotron{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 50%;
}

.jumbotron > h1{
    margin: 10px 0 40px 0;
}

.jumbotron > p{
    font-size: 28px;
    color: white;
    text-align: center;
    line-height: 150%;
}

/* tag main */

.divisione{
    width: 100vw;
    height: 90vh;
}

.gray{
    background-color: #f6f6f6;
}

.sinistra-uguale{
    background-color: rgb(0, 183, 255);
    height: 100%;
    width: 60%;
}

.destra-uguale{
    background-color: orange;
    height: 100%;
    width: 40%;
    margin-left: 60%;
}

#sinistra{
    background-color: orchid;
    height: 100%;
    width: 40%;
}

#destra{
    background-color: sienna;
    height: 100%;
    width: 60%;
    margin-left: 40%;
}

.divisione_finale{
    width: 100vw;
    height: 150vh;
}

#partesopra, #partebottom{
    width: 100%;
    height: 25%;
    background-color: lime;
}

#partesotto{
    width: 100%;
    height: 50%;
    background-color: maroon;
}



/* Tag footer */

footer{
    background-color: #23272a;
    width: 100vw;
    height: 85vh;
}

.sopra{
    width: 100%;
    height: 70%;
    background-color: rgb(126, 15, 126);
}

.sotto{
    width: 100%;
    height: 30%;
    background-color: mediumvioletred;
}